:css
  table{border-collapse:collapse; height:100}
  .game, .frame, .ball2 {border:2px solid black;}
-#cell2{border:1px solid black;}

:javascript
  //document.write("FUNCTION!!!")
  var numberOfPins = 10
  var currentFrameIndex = 0;
  var ball = 0; //is it the second ball?
  function knockDownThisMany(pins) {
    if(ball==0 && pins==10){nextBall();}//2nd cell if it's a strike
    var frameId = "frame" + currentFrameIndex
    //document.write(scoreAt(frameId, ball));
    scoreFieldAt(frameId, ball).innerHTML=pins;
    strikeSpareOrGutter(frameId, ball);
    //document.write("BAM");
    recalculateTotals();
    nextBall();
  }
    function doIt(frameId, pins){
    document.getElementById(frameId).rows[0].cells[0].innerHTML=pins;
    }
  function nextBall() {
    ball++;
    if(ball==2) {
      currentFrameIndex++;
      ball = 0;
    }
  }
  function recalculateTotals() {
    var totalScore = 0;
    for(var i = 0; i < 10; i++){
      if (scoreFieldAt(i, 1).innerHTML == 'X'){
      e
      }
   // }
  }
  function strikeSpareOrGutter(frameId, ball) {
    var scoreField = scoreFieldAt(frameId, ball);
    if(ball==0){return;}
    if(scoreField.innerHTML==10){
      scoreField.innerHTML = 'X';
    }
    else{
      var allPins=(parseInt(scoreField.innerHTML) + parseInt(scoreFieldAt(frameId, 0).innerHTML));
      if(allPins==10){
        scoreField.innerHTML='/';
      }
    }
  }
  function setField(field, text){
    field.innerHTML=text;
  }
  function scoreFieldAt(frameId, field) {
    var frame = document.getElementById(frameId);
    if(field == 0){
      return frame.rows[0].cells[0];
    }
    if(field == 1){
      return frame.rows[0].cells[1];
    }
    if(field == "tot"){
      return frame.rows[1].cells[0];
    }
  }
%table
  %tr{:class => "game"}
    -10.times do |frameid|
      %td{:class => "frame"} 
        %table{:id => "frame#{frameid}", :width => 100}
          =haml(:frame, :layout => false)
-(1..10).each do |buttonid|
  <button type="button" id="#{buttonid}" onclick="knockDownThisMany(#{buttonid})">#{buttonid}</button> 
