table {
  border-collapse:collapse;
}
.scorecard {
  width: 80%
}
.frame {
  width: 10%
}
.box2 {
  width:10%;
}

.scorecard, .frame, .box2 {
  border-collapse:collapse;
  border: 2px solid black;
}
.box1, .box2, .total {
  text-align:right;
  font-size:20px;
  font-weight:bold;
}
