-frame = {:class => 'frame', :bgcolor => 'yellow'}
%td{frame}
  %table
    = form_for(@frame) do |f|
      %tr
        %td.box1
          = f.text_field :ball1, :size => 1, :onchange => "this.form.submit();"
        %td.box2
          = f.text_field :ball2, :size => 1, :onchange => "this.form.submit();"
