%td{frameattrs(frame)}
  -if active?(frame)
    %table
      %tr
        =render :partial => 'frames/editform',
        :locals => {:frame => frame}
        =bonus if frame.position == 10
      %tr
        %td 1st
        %td 2nd
  -else
    %table
      %tr
        =render :partial => 'frames/inactiveframe',
        :locals => {:frame => frame}
        =bonus if frame.position == 10
      %tr
        %td.total{:colspan => 2}
          = total(frame)
