%p#notice
  = notice
%h1 Life Bowling
="Week of #{@game.week}"
%table.scorecard
  %tr
    %td.day{:colspan => '2', :align => 'center'}
      MON
    %td.day{:colspan => '2', :align => 'center'}
      TUE
    %td.day{:colspan => '2', :align => 'center'}
      WED
    %td.day{:colspan => '2', :align => 'center'}
      THU
    %td.day{:colspan => '3', :align => 'center'}
      FRI
  %tr
    -@game.frames.each do |frame|
      -@frame = frame
      %td{frameattrs}
        -if active?
          =render :partial => 'shared/activeframe'
        -else
          =render :partial => 'shared/inactiveframe'
= link_to 'MY GAMES', :action => 'index'
%br
%br
%h1 Next Tasks:
=render :partial => 'shared/task', :collection => @game.tasks
=render :partial => 'taskform'
