<p id="notice">
= notice
%h1 Welcome to life bowling!
%table.scorecard
  %tr
    %td.day{:colspan => '2', :align => 'center'}
      MON
    %td.day{:colspan => '2', :align => 'center'}
      TUE
    %td.day{:colspan => '2', :align => 'center'}
      WED
    %td.day{:colspan => '2', :align => 'center'}
      THU
    %td.day{:colspan => '2', :align => 'center'}
      FRI
  %tr
    -@game.frames.each do |frame|
      -@frame = frame
      -if active?
        =render :partial => 'shared/activeframe'
      -else
        =render :partial => 'shared/inactiveframe'
= link_to 'MY GAMES', 'games#show'
%br
%br
%h1 Next Tasks:
=render :partial => 'shared/task', :collection => @game.tasks
=render :partial => 'taskform'
