%h1 Welcome to life bowling!
%table.scorecard
  %tr
    =render :partial => 'shared/frame', :collection => @frames
= link_to 'NEW GAME', 'newgame', :confirm => 'This will ruin your current game.  You sure?'
<br />
<br />
=render :partial => 'shared/task', :collection => @tasks
